Test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           elementFormDefault="qualified"
           vc:minVersion="1.1">

  <xs:element name="MyElement">
    <xs:complexType>
      <xs:all>
        <xs:element name="A" type="xs:string"/>
        <xs:element name="B" type="xs:string" minOccurs="0"/>
      </xs:all>
      <xs:assert test="if (A = 'ABC') then exists(B) else not(exists(B))"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
